body{
    background-color:rgb(157, 167, 138)!important;
}

#profile-pic{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius:100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item image {
    width: 400px; 
    height: fit-content;
}
