{% comment %}
<h3>hello world</h3>
{% endcomment %} {% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>vishal</title>
    <link
      href="{% static '/css/main.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body" id="profile-wrapper">
            <img id="profile-pic" src="{% static '/images/vishal.png' %}" />
            <hr />
            <h4>Hi i am vishal!</h4>
            <p>i am a software developer</p>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card card-body">
            <h4>ABOUT ME</h4>
            <hr />
            <p>
              My career began with a curiosity for coding as a backend
              developer. Although I hold an B.E degree, my passion for
              technology led me to explore the world of programming.
            </p>

            <p>
              wake up to reality nothing ever goes as planned in this accursed
              world.The longer you live the more you will realise that only
              things that truly exist in this reality are merely pain suffering
              and futility.
            </p>
            <br />
            <div class="d-flex justify-content-center">
              <a 
              href="https://www.linkedin.com/in/vishal-c-1b175a310"
               class="text-dark mx-2">
                <i class="bi bi-linkedin" style="font-size: 1.5rem"></i>
              </a>
              <a
                href="https://www.instagram.com/vishal_.007_"
                class="text-dark mx-2"
              >
                <i class="bi bi-instagram" style="font-size: 1.5rem"></i>
              </a>
              <a href="https://www.twitter.com" class="text-dark mx-2">
                <i class="bi bi-twitter" style="font-size: 1.5rem"></i>
              </a>
              <a href="https://www.facebook.com" class="text-dark mx-2">
                <i class="bi bi-facebook" style="font-size: 1.5rem"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <div
            id="carouselExampleAutoplaying"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="{% static '/images/img.jpg' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            
              <div class="carousel-item">
                <img
                  src="{% static '/images/img1.jpg' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="{% static '/images/img3.jpg' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body">
            <h4>SKILLS</h4>
            <hr/>
            <ul>python</ul>
            <ul>c++</ul>
            <ul>java</ul>
            <ul>c</ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body">
            <h4>HOBBIES</h4>
            <hr/>
            <ul>football</ul>
            <ul>chess</ul>
            <ul>drawing</ul>
            <ul>movies<ul/>
          </div>
        </div>
      </div>
        <div class="col-md-12">
          <div class="card card-body">
            <h4>Thanks for visiting</h4>
          </div>
        </div>
      </div>
      <br />
    </div>
    <script src="" async defer></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
